.profile-container {
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
    cursor: pointer;
    color: #333;
  }
  
  .sidebar ul li.active {
    background-color: #e91e63;
    color: white;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    min-height: 100vh; /* A tartalom teljes magasságának kitöltése */
  }
  
  h2 {
    margin-top: 0;
  }
  